@model EventsViewModel
@{
    ViewBag.Title = "Home";
    ViewBag.SubTitle = "Upcoming Events";
}
<div class="card-deck-wrapper">
    <div class="card-deck">
        @foreach (Event item in Model.Events)
        {
            <div class="card">
                <div class="card-header">
                    @if (item.Registrants.Count > 0)
                    {
                        <span>
                            @item.Registrants.Count Registered
                        </span>
                    }
                    else
                    {
                        <span>
                            No Registrants
                        </span>
                    }
                </div>
                <div class="card-block">
                    <h4 class="card-title">@item.Title</h4>
                    <p class="card-text">
                        <small class="text-muted">
                            @item.StartTime.ToString("MMMM dd, yyyy H:mm tt")
                            &nbsp;-&nbsp;
                            @item.EndTime.ToString("MMMM dd, yyyy H:mm tt")
                        </small>
                    </p>
                    <p class="card-text">@item.Description</p>
                    <a href="@Url.Action("Event", new { id = item.EventKey })" class="card-link">View Event Details</a>
                </div>
            </div>
        }
    </div>
</div>
